* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
}

// 字体大小
.font12 {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font22 {
  font-size: 22px;
}
.font24 {
  font-size: 24px;
}
.font28 {
  font-size: 28px;
}
.font30 {
  font-size: 30px;
}

// 颜色
.color348 {
  color: #348ccd;
}
.colorfff {
  color: #ffffff;
}
.colorccc {
  color: #cccccc;
}
.color666 {
  color: #666;
}
.colora7 {
  color: #a7c7e5;
}
.color333 {
  color: #333333;
}
.color000 {
  color: #000000;
}


// 宽度
.w-100 {
  width: 100%;
}

// 高度
.h-100 {
  height: 100%;
}

// border圆角
.br-3 {
  border-radius: 3px;
}

.br-5 {
  border-radius: 5px;
}

// margin
.m-0-a {
  margin: 0 auto;
}

// flex
.flex {
  display: flex;
	flex-direction: row;
  align-items: center;
}

// 换行
.flex-wrap {
  flex-wrap: wrap;
}

// 不换行
.flex-nowrap {
  flex-wrap: nowrap;
}

/* 垂直居中 */
.col-center {
	align-items: center;
}

/* 顶部对齐 */
.col-top {
	align-items: flex-start;
}

/* 底部对齐 */
.col-bottom {
	align-items: flex-end;
}

/* 左边对齐 */
.row-left {
	justify-content: flex-start;
}

/* 水平居中 */
.row-center {
	justify-content: center;
}

/* 右边对齐 */
.row-right {
	justify-content: flex-end;
}

/* 水平两端对齐，项目之间的间隔都相等 */
.row-between {
	justify-content: space-between;
}

/* 水平每个项目两侧的间隔相等，所以项目之间的间隔比项目与父元素两边的间隔大一倍 */
.row-around {
	justify-content: space-around;
}


// 背景颜色
.bg2c {
  background-color: #2c2c2c;
}

.bg-f {
  background-color: #ffffff;
}

// 行高
.lineheight1 {
  line-height: 1;
}

// 文字
.t-c {
  text-align: center;
}

// 图片点击禁用
.u-s {
  user-select:none;
}


// 
.o-h {
  overflow: hidden;
} 

.box-shadow1 {
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
}

//中间居中块
.section {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

// 除首页外的banner图样式
.banner {
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

//图片占满外层盒子
.img_cover {
  //防止被压缩变形
  flex-shrink: 0;
  // width: 100%;
  // height: 100%;
  // max-width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

//选中的路由
.router-link-active {
  background-color: #0556a8;
  color: #ffffff !important;
  text-decoration: none !important;
}

//路由hover样式
.r-link {
  &:hover {
    background-color: #0556a8;
  }
}

//懒加载图片 样式
img[lazy="loading"] {
}
img[lazy="loaded"] {
}
img[lazy="error"] {
}

// 分享Dropdown样式
.resetStyle {
  /deep/ .share1-menu {
    height: 72px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: Rgba(0, 0, 0, 0.5);
    text-align: center;
    .ant-dropdown-menu-item {
      border-bottom: 1px solid #ffffff;
    }
    .ant-dropdown-menu-item:hover,
    .ant-dropdown-menu-submenu-title:hover {
      background-color: #f05352;
    }
    .ant-dropdown-menu {
      padding: 0;
    }
  }
}
