// 屏幕1920px（大屏幕）
@media screen and (min-width: 1920px) {
  body {
    font-size: 14px !important;
  }
  .banner {
    img {
      min-width: 100% !important;
    }
  }

  .suspended-case {
    left: 50px !important;
  }
  .icon {
    top: 730px !important;
  }
  // 遮罩层
  .m-0 {
    display: none;
  }
}

// 屏幕尺寸 1660-1680（中屏幕）
@media screen and (min-width: 1600px) and (max-width: 1680px) {
  .icon {
    top: 730px !important;
  }
  // 遮罩层
  .m-0 {
    display: none;
  }
}

// 屏幕尺寸 1360-1366（小屏幕）
@media screen and (min-width: 1360px) and (max-width: 1440px) {
  .suspended-box {
    .suspended-img {
      height: 450px;
    }
    .suspended-text-box {
      width: 108px !important;
      height: 450px !important;
      padding-top: 50px !important;

      .suspended-text {
        &:last-child {
          padding-top: 50px !important;
        }
        span {
          font-size: 12px;
        }
      }
      .no-hover {
        span {
          font-size: 16px;
        }
      }
    }
  }
  // 遮罩层
  .m-0 {
    display: none;
  }
}

/* 平板之类的宽度 1024 以下设备(最低iphone6，iphone5不适配(320x568)) */
@media only screen and (min-width: 321px) and (max-width: 1024px) {
  .mobile-nav-footer {
    display: block !important;
    padding-top: env(safe-area-inset-bottom);
  }

  .center() {
    margin: 0.6rem 0;
    text-align: center;
  }

  .banner {
    padding-top: 3rem;
  }

  // 头部
  .page-header {
    position: fixed;
    z-index: 99;
    top: 0;
    height: 3rem !important;
    background: black;
    .logo-layout-box {
      height: 48px;
      .logo-box {
        position: static !important;
        height: 48px !important;
        line-height: 48px;
        margin: 0 1rem;
        .logo {
          top: 0 !important;
          transform: translateY(0) !important;
        }
        .name {
          display: none;
        }
      }
    }
    .title-name {
      display: inline-block !important;
      position: absolute;
      top: 0;
      line-height: 3rem;
      padding: 0 7rem;
      color: #fff;
    }

    .nav-btn,
    .nav-btn-on {
      display: inline-block !important;
    }

    .menu {
      display: inline-block !important;
    }

    .nav {
      .row {
        display: none;
      }
    }
  }

  // 首页
  .home {
    // 轮播图
    header {
      padding-top: 48px;
    }
    .about-us {
      text-align: center;
      font-size: 1.06rem;
      .about-us-text {
        display: block !important;
        margin-top:0.4rem;
        margin-bottom:0.6rem;
      }
    }
    .home-intro {
      .module1 {
        margin: 0 !important;
        background: url("../assets/img/home-img/LOGO.png") #000 100% 100% /
          cover no-repeat;
        .left_title {
          display: none;
        }
        .right-img {
          display: none !important;
        }
        .introduction1 {
          padding: 2.4rem 0.9rem;
          color: #fff;
        }
      }
      .zngl-partner {
        .partner-icon {
          display: flex;
          justify-content: center;
          .sprites {
            width: 20rem;
            margin-bottom: 0.708rem !important;
            .sprites-img-box {
              width: 3.5rem !important;
              margin-right: 0 !important;
              margin-bottom: 0.5rem !important;
            }
          }
        }
      }
      .bottom-box {
        margin-top: 0.588rem !important;
      }
    }

    .center-text {
      margin: 0 !important;
      .center_title {
        .center();
        margin-bottom: 0.6rem !important;
        font-size: 1.06rem !important;
      }
      .text_indent2 {
        padding: 0 0.9rem;
      }
    }

    .ant-col-11 {
      width: 100% !important;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  // 应用方案
  .program {
    .nav {
      height: 3.29rem !important;
      margin-bottom: 1.35rem !important;
      .nav-box {
        margin: 0 1.17rem;
      }
    }
    .introduction1 {
      .left-img {
        display: none;
      }
      .right-text {
        width: 100%;
        background: url("../assets/img/program-img/img-1.png") #000 100% 100% /
          cover no-repeat;
        color: #fff;
        .text-box {
          width: 100% !important;
          background-color: rgba(0, 0, 0, 0.6);
          padding: 2.4rem 0.9rem;
          .right_title {
            color: #fff;
            font-size: 1.2rem;
            text-align: center;
          }
        }
      }
    }
    .introduction2 {
      .introduction2-info {
        height: 37.35rem !important;
        flex-wrap: wrap;
        .introduction2-info-list {
          top: 0 !important;
          width: 44% !important;
          .text-box {
            h3 {
              margin-bottom: 0.7rem !important;
            }
            span {
              width: 9.47rem !important;
            }
          }
        }
      }
      .text-box {
        .font16 {
          padding: 0 0.5rem;
        }
      }
    }

    .bg-box {
      background: #fff !important;
      .architecture {
        .font30 {
          font-size: 1.06rem !important;
          margin-bottom: 0 !important;
        }
        .text-content {
          padding: 0.9rem;
          text-align: left;
          text-indent: 2em;
        }
        .version-box {
          flex-wrap: wrap;
          margin: 1.18rem 0 2.35rem 0 !important;
          .furniture {
            width: 10rem !important;
            // height: 13.52rem !important;
            margin: 0 0.3rem;
            img {
              width: 100%;
            }
            .text-box {
              left: -10px !important;
              top: -190px !important;
              h3 {
                text-align: center;
                font-size: 1rem !important;
              }
              span {
                font-size: 0.82rem !important;
              }
            }
          }
        }
      }
    }
  }

  // 小程序
  .applets {
    .module1 {
      margin-top: 1.17rem !important;
      .module1-title-text {
        margin-bottom: 0 !important;
        font-size: 1.06rem !important;
      }
      .module1-content-text {
        padding: 0.9rem;
        font-size: 0.82rem !important;
        margin-bottom: 0 !important;
      }
      .module1-img-box {
        padding: 0 0.9rem;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .module2 {
      padding: 0 0.9rem;
      .module2-title-text {
        font-size: 1.06rem !important;
      }
      .module2-content-text {
        font-size: 0.82rem !important;
        margin-bottom: 1.17rem !important;
      }
      .module2-nav {
        .module2-nav-box {
          width: 8.82rem !important;
          .module2-nav-text {
            font-size: 0.82rem !important;
            margin-top: 0.588rem !important;
          }
        }
      }
      .ps2 {
        margin-top: 2.5rem !important;
      }
    }
  }

  // 公众号
  .public-number {
    .title {
      font-size: 1.06rem !important;
    }
    .bg {
      margin: 1.18rem auto !important;
    }
    .features-introduction {
      margin-top: 1.18rem !important;
      .flex {
        flex-wrap: wrap;
        .nav {
          padding-bottom: 1.18rem !important;
          h3 {
            margin: 1.18rem auto !important;
            font-size: 1.06rem;
          }
        }
      }
    }
    .img-box {
      height: 100%;
      flex-wrap: wrap;
      margin-bottom: 2.5rem;
      padding: 0 0.9rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .el-carousel__container {
      height: 17.65rem !important;
    }
  }

  // 经典项目
  .project {
    main {
      section {
        nav {
          .select-project {
            margin-top: 1.18rem !important;
            .col {
              margin: 0.5rem !important;
            }
            .ant-row-flex {
              margin-top: 0 !important;
            }
          }
        }
        .logo-list {
          margin-top: 1.18rem !important;
          .look-more {
            padding-bottom:1.18rem;
          }
          .clearfix {
            padding: 0 0.9rem;
            li {
              top: 0;
              width: 45%;
              height: 6.88rem;
              margin: 1.18rem 0.5rem !important;
              .details-btn {
                width: 60%;
              }
            }
          }
        }
      }
    }
  }

  // 详情
  .details {
    .header {
      .title {
        .back {
          margin: 1.18rem 0 !important;
        }
        h1 {
          font-size: 1.3rem !important;
        }
      }
    }
  }

  // 联系我们
  .link-us {
    .select {
      margin-top: 1.18rem !important;
      .title {
        margin-bottom: 1.18rem !important;
        font-size: 0.95rem;
      }
      .radio-group {
        .checkbox {
          width: 33%;
          margin: 0 0.8rem !important;
          span {
            font-size: 0.7rem !important;
          }
          .ant-checkbox-wrapper {
            margin: 0.3rem 0 !important;
          }
        }
      }
    }
    .bottom-box {
      margin-top: 1.18rem !important;
      .text-box {
        padding-top: 1.18rem !important;
        .title {
          font-size: 1.06rem !important;
        }
        .title-eg {
          margin: 0.6rem auto !important;
          span {
            &:before {
              width: 80% !important;
              left: -80% !important;
            }
            &:after {
              width: 80% !important;
              right: -80% !important;
            }
          }
        }
        .text-content {
          padding-bottom: 0.78rem !important;
          .paragraph1 {
            display: none;
          }
          .text_indent2 {
            padding: 0 0.9rem;
          }
        }
      }
      .form-box {
        flex-wrap: wrap;

        .left,
        .right {
          width: 75% !important;
          // /deep/ .form {
          //   .ant-form-item-control {
          //     line-height: 1.77rem !important;
          //   }
          //   .ant-form-item {
          //     padding-bottom: 0 !important;
          //     .ant-col-20 {
          //       margin-left: 0 !important;
          //       .item-input {
          //         height: 1.77rem !important;
          //         border: 1px solid #fff !important;
          //       }
          //     }
          //   }
          // }
        }
      }
      .submit-btn {
        width: 75% !important;
        margin-top: 8.4rem !important;
        color: #fff !important;
        border: 0 !important;
        background-color: rgb(1, 90, 171) !important;
      }
    }
  }

  .suspended-case {
    display: none !important;
  }

  // 尾部
  .page-footer {
    display: none;
  }
}

//滚动条样式修改
@media (min-width: 768px) {
  ::-webkit-scrollbar-thumb {
    min-height: 28px;
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border-radius: 4px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
      inset 0 -1px 0 rgba(0, 0, 0, 0.07);

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}

@media screen and (max-width: 321px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 321px) and (max-width: 400px) {
  body {
    font-size: 17px;
  }
}

@media screen and (min-width: 400px) {
  body {
    font-size: 19px;
  }
}

// 解决 iphoneX 底部黑条
// @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
//   .nav-bar {
//     padding-bottom: 100px;
//   }
// }
