@media screen and (min-width: 1200px){  // 屏幕大于1200px（大屏幕）
    body{
        background: #000 !important;
    }
 }

 @media screen and (min-width: 1024px)  and (max-width: 1199px) {  // 屏幕尺寸 1024-1199（中屏幕）
    body{
        background: red !important;
    }
 }

 @media screen and (min-width: 768px)  and (max-width: 1023px) {  // 屏幕尺寸 1024-1199（小屏幕pad）
    body{
        background: blue !important;
    }
 }

