// 屏幕1920px（大屏幕）
@media screen and (min-width: 1920px) {
  .banner {
    img {
      min-width: 100% !important;
    }
  }

  .suspended-case {
    left: 50px !important;
  }
  // .home {
  //   .zngl-partner {
  //     margin: 0 autp;
  //     .sprites {
  //       min-width: 1600px !important;
  //       .sprites-img-box {
  //         margin-right: 80px !important;
  //       }
  //     }
  //   }
  // }
  .icon {
    top: 730px !important;
  }
}

// 屏幕尺寸 1660-1680（中屏幕）
@media screen and (min-width: 1600px) and (max-width: 1680px) {
  .icon {
    top: 730px !important;
  }
}

// 屏幕尺寸 1360-1366（小屏幕）
@media screen and (min-width: 1360px) and (max-width: 1440px) {
  .suspended-box {
    .suspended-img {
      height: 450px;
    }
    .suspended-text-box {
      width: 108px !important;
      height: 450px !important;
      padding-top: 50px !important;

      .suspended-text {
        &:last-child {
          padding-top: 50px !important;
        }
        span {
          font-size: 12px;
        }
      }
      .no-hover {
        span {
          font-size: 16px;
        }
      }
    }
  }
}

/* 平板之类的宽度 1024 以下设备(最低iphone6，iphone5不适配(320x568)) */ 
@media only screen and (min-width: 321px) and (max-width: 1024px) {
  .center() {
    margin: 0.6rem 0;
    text-align: center;
    font-weight: bold;
  }
  // 头部
  .page-header {
    position: fixed;
    z-index: 99;
    top: 0;
    height: 3rem !important;
    background: black;
    .logo-box {
      left: 0 !important;
      line-height: 3rem !important;
      margin: 0 1rem;
      transform: translateY(0) !important;
      .name {
        display: none;
      }
    }
    .title-name {
      display: inline-block !important;
      position: absolute;
      top: 0;
      line-height: 3rem;
      padding: 0 7rem;
      color: #fff;
    }
    .nav {
      .row {
        display: none;
      }
    }
  }

  // 轮播图
  .carousel {
    padding-top: 1.47rem;
  }

  // 首页
  .home {
    .about-us {
      .center();
      .about-us-text {
        display: inline-block !important;
        font-size: 1.2rem;
      }
    }
    .home-intro {
      .module1 {
        margin: 0 !important;
        background: url("../assets/img/home-img/LOGO.png") #000 100% 100% /
          cover no-repeat;
        .left_title {
          display: none;
        }
        .right-img {
          display: none !important;
        }
        .introduction1 {
          padding: 2.4rem 0.9rem;
          color: #fff;
        }
      }
      .zngl-partner {
        .partner-icon {
          display: flex;
          justify-content: center;
          .sprites {
            width: 20rem;
            height: 18rem !important;
            margin-bottom: 0.708rem !important;
            .sprites-img-box {
              width: 3.5rem !important;
              margin-right: 0 !important;
            }
          }
        }
      }
    }

    .center-text {
      margin: 0 !important;
      .center_title {
        .center();
        margin-bottom: 0.6rem !important;
        font-size: 1.2rem !important;
      }
      .text_indent2 {
        padding: 0 0.9rem;
      }
    }

    .bottom-box {
      margin: 1.41rem  0  0  0 !important;

    }

    .ant-col-11 {
      width: 100% !important;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .suspended-case {
    display: none !important;
  }

  // 尾部
  .page-footer {
    display: none;
  }

  .mobile-nav-footer {
    display: block !important;
  }
}

//滚动条样式修改
@media (min-width: 768px) {
  ::-webkit-scrollbar-thumb {
    min-height: 28px;
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border-radius: 4px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
      inset 0 -1px 0 rgba(0, 0, 0, 0.07);

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}

@media screen and (max-width: 321px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 321px) and (max-width: 400px) {
  body {
    font-size: 17px;
  }
}

@media screen and (min-width: 400px) {
  body {
    font-size: 19px;
  }
}
